.header {
    width: 100%;
    height: 50px;
}

.task-btn {
    float: right;
    margin: 10px;
}

.task-is-done {
    color: #006b1b;
}

.task-not-done {
    color: red;
}

.deadline {
    color: darkred;
}